.section-character {
    display: flex;
    flex-direction: row;
}

.character-card {
    width: 240px;
    padding: 5px;
    margin-left: 10px;
}

.episodes-number {
    border: solid;
    background-color: whitesmoke;
    border-radius: 5%;
    position: fixed;
    bottom: 15px;
    font-weight: bold;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    height: 100px;
}
.episodes-number1 {
    border: solid;
    background-color: whitesmoke;
    border-radius: 5%;
    position: fixed;
    bottom: 15px;
    font-weight: bold;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    height: 100px;
}
.episodes-number2 {
    border: solid;
    background-color: whitesmoke;
    border-radius: 5%;
    position: fixed;
    bottom: 15px;
    font-weight: bold;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    height: 100px;
    right: 400px;
}

.section-character p:nth-child(4) {
    margin-left: 2%;
    font-size: 12px;
}

.section-character p:nth-child(5) {
    margin-left: 22%;
    font-size: 12px;
}

.section-character p:nth-child(6) {
    margin-left: 45%;
    font-size: 12px;
}